<template name="AdminHeader">
    <header class="main-header">
        <a href="/" class="logo">
            {{#if AdminConfig.name}}
            {{AdminConfig.name}}
            {{else}}
            Admin
            {{/if}}
        </a>
        <nav class="navbar navbar-static-top" role="navigation">
            <!-- Sidebar toggle button-->
            <a href="#" class="sidebar-toggle" data-toggle="offcanvas" role="button">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </a>
            <div class="navbar-custom-menu">
                <ul class="nav navbar-nav">
                    <li>
                        {{#if AdminConfig.dashboard.homeUrl}}
                        <a href="{{AdminConfig.dashboard.homeUrl}}">Home</a>
                        {{else}}
                        <a href="/">Home</a>
                        {{/if}}

                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                            <span>Admin<i class="caret"></i></span>
                        </a>
                        <ul class="dropdown-menu">
                            <li class="">
                            <a href="{{pathFor 'adminDashboardUsersEdit' _id=currentUser._id}}">
                                Your profile
                                </a>
                            </li>
                            <li class="">
                                <a href="#" class="btn-sign-out">Sign out
                                </a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
        </nav>
    </header>
</template>
